/*
    Author: Nicholas Crump, CRUMPNA@etsu.edu
    Course: CSCI-2210-001 - Data Structures
    Assignment: Project 2 - Sorting Algorithms
    Description: This project is designed to be an exploration of sorting algorithms. Students are to determine
    the effectiveness of different sorting algorithms depending on the data being sorted. Variables
    of concern are the number of elements to sort, reference type vs value type, and O(n2) vs
    O(Lg(n)) algorithmic runtimes.Additionally, students must demonstrate their ability to
    experiment with data, collaborate with others, and present their findings.
*/

.content {
    padding-top: 96px;
    padding-left: 96px;
    padding-right: 96px;
    line-height: 2;
}

.report {
    text-align: left;
}

.header {
    text-align: center;
}

.bottomP {
    text-align: center;
}

.images {
    padding: 15px;
    text-align: center;
}

#pageNum {
    text-align: right;
}

#reportImg {
    width: 500px;
    height: 150px;
    padding-left: 31%;
}
